@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Rubik+Doodle+Shadow&family=Workbench&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Caveat:wght@700&family=Dancing+Script:wght@700&family=Kalnia&family=Kenia&family=Lato:ital,wght@1,300&family=Montserrat:wght@100&family=Poppins&display=swap");


@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Protest+Guerrilla&family=Protest+Riot&family=Protest+Strike&family=Reddit+Mono:wght@200..900&family=Rubik+Doodle+Shadow&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&family=Protest+Guerrilla&family=Protest+Riot&family=Protest+Strike&family=Reddit+Mono:wght@200..900&family=Rubik+Doodle+Shadow&display=swap');

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body,
html {
  font-family: "Josefin Sans", sans-serif;
  background-color:#02020e;
  color: #fff;
  width: 100%;
  overflow-x: hidden;

  list-style: none;
  scrollbar-width: smooth;
}



/* service Styling */

.my-service {
  background-color: #F5F7F8;
  height: 100%;
  padding: 2rem 2rem;
  margin: 0px 4rem;
  border-radius: 1rem;
}


@media screen and (max-width: 498px) {
  .my-service {
   
    padding: 2rem 2rem;
    margin: 0px 0rem;
    border-radius: 0rem;
  }
  
}

img{
  width: 60px;
  height: 60px;
}
.container{
  display: grid;


}
.container__box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
  gap: 15px;
}
.container .container__box .box{
  background: #F0F5F9;
  border-radius: 6px;
  box-shadow: 5px 5px 6px #333;
  text-align: center;
  padding: 20px 30px;
}


.container__heading{
  text-align: center;
  padding-bottom: 15px;
  color: #000;
  font-family: "Pacifico", cursive;

  font-size: 50px;
  font-weight: 600;
}
.container .container__box .box h3{
  color: #444;
  font-size: 20px;
  font-weight: 600;
}
.container .container__box .box p{
  font-size: 14px;
  font-weight: 100;
  color: #555;
}
.container .container__box .box a{
  border-radius: 4px;
  background: #E23E57;
  color: white;
}
.container .container__box .box a:hover{
  background: #908080;
}




/*nav */
nav {
 
width: 92%;
margin-top: 1rem;
margin-left: 3rem;
border:0.1px solid #fff ;
background-color: white;


padding: 30px 30px;

border-radius: 5px;
backdrop-filter: blur(36px) !important;



 

 
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
 
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: sticky;
  top: 0;
  z-index: 10;
}

@media screen and (max-width: 768px) {
nav {
position: relative;
  height: 12vh;

 width: 85%;
 left: -1.5rem;

 

}


}

@media screen and (max-width: 568px) {
  nav {
  position: relative;
    height: 2vh;
  
   width: 90%;
   left: -1.5rem;
 

  
  }

  
  }
.VBW {
  font-family: "Rubik Doodle Shadow", system-ui;
  letter-spacing: 15px;
}

.logo {
  font-family: "Rubik Doodle Shadow", system-ui;
}
.logo-img {
  position: absolute;
  width: 9rem;
  height: 9rem;
  top:-2.4rem;
  left: -2.1rem;
}
@media screen and (max-width: 768px) {
 
  .logo-img {
  
    width: 8rem;
    height: 8rem;
    top: -1.5rem;
    left: -1rem;
  
  }
  
  }

  @media screen and (max-width: 568px) {
 
    .logo-img {
    
      width: 5rem;
      height: 5rem;
      top: -0.8rem;
      left: -1rem;
    
    }
    
    }

.logo h3 {
  margin-left: 1rem;
  letter-spacing: 10px;
  font-size: 2rem;
  color: #ff6000;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.nav-links li {
  list-style: none;
  margin-right: 0.8rem;
}

.nav-links a {
  color: rgb(31, 106, 164);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.8s, letter-spacing 0.8s;
}

.nav-links a:hover {

  letter-spacing: 5px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 568px) {

  .burger div {
    width: 18px;
    height: 1px;
    background-color: #000;
    margin: 5px;
    transition: all 0.3s ease;
  }
 

  
  }

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 11vh;
    background-color: #000;
    color: #e36414;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(200%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 1;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}






.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}



@media screen and (max-width: 568px) {
  
.toggle .line1 {
  transform: rotate(-45deg) translate(-2px, 7px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-2px, -6px);
}

}

/* Hero Section Styling */


.hero-section {
  position: relative;
  height: 100vh;

}

.hero-content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: #fff;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.hero-btn:hover {
  background-color: #ddd;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Responsive styles */
@media (max-width: 768px) {
  .hero-title {
      font-size: 2rem;
  }

  .hero-description {
      font-size: 1rem;
  }
}

.sec_1 .animate {
  transform: translateY(-100%);
  filter: blur(5px);
  transition: all 2s;

  opacity: 0;
}

.sec_1.show .animate {
  transform: translatex(-50%);
  opacity: 1;
  filter: blur(0px);

}





/* About Section Styling */
.about {

  height: 100vh;

display: flex;
justify-content: center;

  padding: 0rem 0;
  text-align: center;


}


.about h2 {
  font-size: 2.5rem;
  overflow: hidden;
  position: relative;
  font-family: "Pacifico", cursive;
}

.about_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 5rem;
  position: relative;
}
@media screen and (max-width: 440px) {
  .about_content {
    padding: 5px 5px;
  }

  .about h2 {
    font-size: 1.5rem;
  }
}

.about_content img {
  width: 250px;
  height: 300px;
  object-fit: cover;

  border-radius: 100%;
  border: 1px solid #fff;
}

@media screen and (max-width: 440px) {
  .about_content img {
    width: 150px;
    height: 200px;
  }
}

.about p {
  font-size: 1.1rem;
  line-height: 1.6;
  position: relative;
}

@media screen and (max-width: 440px) {
  .about p {
    font-size: 0.75rem;
  }
}

.my__name {
  font-size: 2rem;

  color: #ffe6c7;
}

@media screen and (max-width: 440px) {
  .my__name {
    font-size: 1.5rem;
  }
}

.download_btn {
  margin-top: 2rem;
  perspective: 1000px;
}

.download_btn a {
  padding: 1rem 3rem;
  background-color: #E23E57;
  color: #fff;

  border: 1px solid #ffdede;
  text-decoration: none;

  transition: all 0.8s;
  overflow: hidden;

  border-radius: 1px 10px 0px 10px;
  letter-spacing: 2px;

  /* Apply animation */
}
.download_btn a:hover {
  background-color: #ffe6c7;
  color: #e36414;
}

.about_content .download_btn div:hover {
  transform: translateY(-8%);
}

@media screen and (max-width: 440px) {
  .download_btn a {
    font-size: 0.8em;
  }
}

.sec_2 .span-animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 105%;
  background-color: #02020e;
  transition: 2s all;
  overflow: hidden;
}
.sec_2.show .span-animate {
  width: 0;
}
.sec_2 .span_image {
  transform: scale(0);
  transition: 2s all;
}
.sec_2.show .span_image {
  transform: scale(1);
  animation: none !important;
}










/*Skills section styling */

#Skills {
  height: 100vh;
  letter-spacing: 2px;
 
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 flex-shrink: 0;
}


.skill-heading {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
}

.skills-bar {
  padding: 25px 30px;
}

.skills-bar .bar {
  margin: 25px 0;
}

.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  color: #fff;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 6px;
  width: 555px;
  background: #f0f0f0;
  border-radius: 10px;

  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}


@media screen and (min-width:568px) {
  
  .skills-bar .bar .progress-line {
  
    min-width: 105px;

    
  }
}




.bar .progress-line span {
  position: absolute;
  background:  #E23E57;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
 

  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .html {
  width: 90%;
}
.progress-line .css {
  width: 70%;
}
.progress-line .tailwind {
  width: 82%;
}
.progress-line .javascript {
  width: 72%;
}
.progress-line .react {
  width: 90%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -14px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #07374a;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 700;
  background: #07374a;
  padding: 1px 8px;
  border-radius: 3px;
}


.progress-line .html::after {
  content: "90%";
}
.progress-line .css::after {
  content: "80%";
}
.progress-line .tailwind::after {
  content: "82%";
}
.progress-line .javascript::after {
  content: "72%";
}
.progress-line .react::after {
  content: "90%";
}

/* ////........Media Query........//// */

@media (max-width: 700px) {
    .skills{
        width: 80%;
    }

    .skills-bar .bar .progress-line{
        width: 100%;
    }
}      


.sec_3 .span-animate {
transform: scale(0);
transition: all 2s;

}
.sec_3.show .span-animate {
  transform: scale(1);


}

/* Portfolio Section Styling */
#portfolio {
  padding: 4rem 0;
  text-align: center;
}

#portfolio h2 {
  font-size: 2.5rem;
  margin-bottom: 5rem;
  font-family: "Pacifico", cursive;
}

@media screen and (max-width: 440px) {
  #portfolio h2 {
    font-size: 1.7rem;
  }
}

.portfolio {
  display: flex;
  justify-content: center;
  perspective: 1500px;
  flex-wrap: wrap;
  gap: 5rem;
}

.card {
  width: 300px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;

  overflow: hidden;

  border-radius: 10px;
}

@media screen and (max-width: 440px) {
  .card {
    font-size: 0.8em;
    width: 220px;
  }
}

.icons {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.project_image {
  width: 300px;
  height: 400px;
  object-position: center;

  object-fit: cover;
}
.car {
  width: 250px;
  height: auto;
  object-fit: cover;

  margin-top: 10rem;
}

@media screen and (max-width: 440px) {
  .project_image {
    width: 220px;
  }
  .car {
    width: 200px;
  }
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(0);
  transition: transform 0.7s;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;

  text-align: center;
}

.card-front {
  background: whitesmoke;
}

.tech-list {
  list-style: none;
}

.card-back {
  padding: 10px;
  transform: rotateY(180deg);
  background: #eeedeb;
  font-family: "Kalnia", serif;
  color: #040404;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project_p {
  font-size: 0.85rem;
  color: #040404;
}

@media screen and (max-width: 440px) {
  .project_p {
    font-size: 0.8em;
  }
}

.view {
  text-decoration: none;

  /* For WebKit browsers */

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);

  font-weight: bold;
  color: #ec5a64;

  padding: 10px;

  letter-spacing: 2px;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.sec_4 .portfolio .animate:nth-child(odd) {
  filter: blur(5px);
  transition: all 2s;
  transform: translateX(-100%);
  opacity: 0;
}
.sec_4.show .portfolio .animate:nth-child(odd) {
  filter: blur(0px);
  transition: all 2s;
  transform: translateX(0%);
  opacity: 1;
}
.sec_4 .portfolio .animate:nth-child(even) {
  filter: blur(5px);
  transition: all 2s;
  transform: translateX(100%);
  opacity: 0;
}
.sec_4.show .portfolio .animate:nth-child(even) {
  filter: blur(0px);
  transition: all 2s;
  transform: translateX(0%);
  opacity: 1;
}
.sec_4.show .portfolio .animate:nth-child(odd) {
  transition-delay: 200ms;
}
.sec_4.show .portfolio .animate:nth-child(even) {
  transition-delay: 400ms;
}
.sec_4 h2 {
  transform: scale(0);
  transition: all 1s;
}
.sec_4.show h2 {
  transform: scale(1);
}


/* Contact Section Styling */
.contact {
 
  text-align: center;

  background-color: #F5F7F8;
  height: 100%;
  padding: 2rem 2rem;
  margin: 0px 4rem;
  border-radius: 1rem;
}

@media screen and (max-width: 498px) {
  .contact {
   
    padding: 2rem 2rem;
    margin: 0px 0rem;
    border-radius: 0rem;
  }
  
}

.contact h2 {
  font-size: 2.5rem;
  font-family: "Pacifico", cursive;
  margin-bottom: 2rem;
  color: #000;
}
@media (max-width: 440px) {
  .contact h2 {
    font-size: 1.5rem;
  }
}

.contact form {
  max-width: 500px;
  margin: 0 auto;

}

.contact input,
.contact textarea,
.contact button {
  display: block;
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact textarea {
  resize: vertical;
  height: 10rem;
}

.contact button {
  background-color: #1b1b1b;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact button:hover {
  background-color: #2f2f2f;
}

/*footer style*/

.footer {
  text-align: center;
  padding: 20px 0;
}

.footer a {
  color: #fff;

  text-decoration: none;
  margin: 0 10px;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  .footer a {
    margin: 5px;
  }
}

.footer {
  text-align: center;

  margin-top: 50px; /* Adjust this value as needed */
}

.footer a {
  margin: 0 10px; /* Adjust the spacing between icons */
  position: relative;
}

.footer_link {
  perspective: 10px;
}

.social_icons {
  width: 40px;

  height: 40px;
  object-fit: contain;
  transition: all 0.7s;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: #fff 2px -2px 1px 1px;

  /* Apply transition effect for smooth hover */
}



/*media queries */
@media screen and (max-width: 440px) {
}

/*scroll animation */

.hidden {
  opacity: 0;
  transition: all 1s;
}
.show {
  opacity: 1;
}



.scroll-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 1px solid #fff;
  outline: none;
  background-color: #E23E57;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 60%;
}

.scroll-to-top-btn:hover {
  background-color: #E23E57;
}
